body {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%),
        url('cute-cat.gif');
    
    background-size: cover;
    
    background-position: center;
    
    background-attachment: fixed;
    
    font-family: sans-serif;
    
    color: #ffffff;
    
    padding: 25px;

}

h1, h2, p {
    /* Rechts-Abstand | Unten-Abstand | Weichzeichner | Schattenfarbe */
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    
    font-weight: 800;
}
section {
background-image: radial-gradient(circle, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
   
padding: 30px;

    text-align: center;
}

section h2 {
    color: #a7a7a7; 
}

#about{
    margin: 45px auto;
}

#title{
    text-align: center;
    margin: 50px auto;
}
